body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 2rem 0;
    padding: 10rem 0;
}

.quiz-container, .result-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    display: none;
    line-height: 2;
}

h1 {
    text-align: center;
}

.question {
    margin-bottom: 20px;
}

.options {
    list-style: none;
    padding: 0;
}

.options li {
    margin-bottom: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
}

button:hover {
    background-color: rgb(182, 52, 4);
}

#result {
    margin-top: 20px;
    text-align: center;
}
